<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dulces Momentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="icon" href="../img/icon.png">
</head>
<body>
<!--NAVBAR-->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="../../index.html">
                <img src="../img/logo.jpg" alt="Logo" width="40" height="34" class="d-inline-block align-text-top">
                Dulces Momentos
            </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="../views/nosotros.html">NOSOTROS</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                RECETAS
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="../views/lemonpie.html">Lemon Pie</a></li>
                  <li><a class="dropdown-item" href="#">Cheesecake</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Ver mas</a></li>
                </ul>
                <li class="nav-item">
                    <a class="nav-link" href="../views/registro.html">REGISTRATE</a>
                  </li>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control m-3" type="search" placeholder="Buscar" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Buscar</button>
            </form>
          </div>
        </div>
      </nav>
<!--CARD-->
<main>
  <div class="card mb-3">
    <h2 class="card-title">LEMON PIE</h2>
    <img src="../img/receta1.png" class="card-img-top" alt="..." width="250" height="500">
    <div class="card-body">
      <ul>INGREDIENTES
        <h4>Masa</h4>
        <li>300 gr   Harina 0000  (o la más refinada y sin leudante que consigas)</li>
        <li> 40 gr   Azúcar impalpable o azúcar talco</li>
        <li>1 cdta/ ½ tsp  Sal</li>
        <li>150 gr   Manteca/mantequilla sin sal (fría)</li>
        <li>2 uni   Yemas (reservar las claras para el merengue)</li>
        <li>c/n   Agua fría</li>
        <h4>Crema de Limon</h4>
        <li>2 uni/ 16 gr  Ralladura de limón</li>
        <li>2 uni/ 100ml  Jugo de limón</li>
        <li>240 gr   Azúcar blanca común</li>
        <li>4 uni   Huevos</li>
        <li>1 uni   Yema (reservar la clara para el merengue)</li>
        <li>30 gr   Almidon de maiz</li>
        <li>200 gr   Manteca o mantequilla sin sal</li>
        <h4>Merengue Italiano </h4>
        <li>3 uni  Claras (reservadas de la masa y la crema de limón)</li>
        <li>180 gr  Azúcar blanca</li>
        <li>160 cc  Agua</li>
    </ul>
  <p></p>
    <ol>PREPARACION
      <h3>Masa</h3>
        <li>Preparar una tartera desfondable de 20cm de diámetro.
        Tamizar la harina, el azúcar impalpable y la sal, colocándolas en un bol.
        Adicionar la manteca fría cortada en cubos.
        Integrar con las manos hasta formar un arenado sin rastros de manteca.
        Adicionar las yemas. Integrar con las manos.
        Esta preparación tal vez necesite un poco más de líquido. Adicionar agua fría de a poco e integrar hasta que se incorpore bien toda la preparación. Es importante agregar el agua de a poco para no sobrehidratar la preparación.
        Estirar la masa con un palo de amasar entre dos papel film, papel manteca o planchas de silicona. 
        Colocar la masa en una placa y llevarla a la heladera por al menos 1 hora hasta que la masa esté bien dura.
        Fonzar la tarta en el molde. Pinchar la masa con un tenedor. Llevar al freezer al menos 2 horas o hasta que la tarta esté completamente congelada.
        Precalentar el horno a 170°C. 
        Hornear la masa recién sacada del freezer por 18 minutos o hasta que la masa esté doradita. 
        Dejar enfriar a temperatura ambiente y reservar en la heladera.</li>
        <h3>Crema de limón</h3>
        <li>En una cacerola, colocar la ralladura y el jugo de limón.
        Añadir el azúcar blanca, los huevos, la yema y el almidón de maíz. Integrar con batidor de alambre.
        Llevar la cacerola al fuego, revolviendo siempre, hasta que espese y hierva.
        Colocar la preparación en un bol para que baje un poco la temperatura antes de añadir la manteca fría. Integrar con batidor de alambre.
        Volcar en un contenedor, dejar enfriar a temperatura ambiente y luego reservar en la heladera como mínimo 3 horas. Colocar la preparación en un bol para que baje un poco la temperatura antes de añadir la manteca fría. Integrar con batidor de alambre.
        Volcar en un contenedor, dejar enfriar a temperatura ambiente y luego reservar en la heladera como mínimo 3 horas. 
        Rellenar con la crema la tarta ya cocida y fría</li>
        <h3>Merengue Italiano</h3>
        <li>Tomar las 3 claras de huevo previamente reservadas de la masa y la crema de limón, y ponerlas en la cuba de la batidora. 
        Para hacer el almíbar: Colocar el azúcar y cubrirla con el agua en una cacerola. Es importante que todo el azúcar quede cubierto con el agua y que no quede ningún granito de azúcar en el lateral de la cacerola. 
        Llevar el azúcar con el agua a fuego fuerte y cocinar hasta formar un almíbar de 118ºC. 
        Cuando el almíbar esté en aprox en 114°C y 116°C, prender la batidora, para que empiecen a espumar las claras. 
        Cuando el almíbar esté listo en 118°C, volcar formando un canal en el lateral de la cuba de la batidora, mientras se bate la mezcla a toda velocidad.
        Batir hasta que el merengue se enfríe y esté bien brillante. Si tenés dudas de como hacer un buen merengue italiano, hacé click acá.
        Cubrir el lemon pie con el merengue. Se puede hacer con manga, o más rústico cubriendo el lemon pie con el merengue y con ayuda de una cuchara, hacer unos picos para decorar.</li>
    </ol>
    </div>
    <div>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/DHy3iGpPoVI" title="Lemon pie super cremoso" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <a href="../../index.html" class="volver-inicio">Volver al inicio</a>
  </div>
</main>
<!-- FOOTER -->
<footer>
  <p>&copy; Posadas Daiana Proyecto de Potrero Digital 2023</p>
</footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>